name: 'Godot CI'

on: 
  push:
    branches: 
      - release

permissions:
  contents: write

env:
  GODOT_VERSION: 4.5
  EXPORT_NAME: placeholder
  PROJECT_PATH: ./

jobs:
  export-web:
    name: Web Export
    runs-on: ubuntu-22.04
    container:
      image: barichello/godot-ci:4.5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Ensure Export Templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable || echo "Templates already in place"

      - name: Import & Build Project
        run: |
          cd $PROJECT_PATH
          # Force Godot to register all scripts, import all assets, and build export
          godot --editor --no-window --verbose --path . --import
          mkdir -p build/web
          EXPORT_DIR="$(readlink -f build)"
          godot --editor --no-window --verbose --path . --export-release "Web" "$EXPORT_DIR/web/index.html"

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: build/web

      - name: Install rsync
        run: |
          apt-get update && apt-get install -y rsync

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: build/web
